.feed {
  list-style-type: none;
  padding: 0;
}

.feedItem {
  border: 1px solid black;
  display: flex; 
  flex-direction: column; 
  width: 100%;
  height: auto; 
  text-decoration: none;
  min-height: 100px;

}

.feedItemTitle{ 
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  color: black; 
  font-style: normal;
  text-decoration: none;
}

.feedItemContent{ 
  margin: 10px; 

}

.questionPreview{ 
  color: grey; 
  text-decoration: none;

  /* background-color: red; */
}

.tags{ 
  display: flex;
  width:auto; 
  height: 30px; 
  background-color: rgb(235, 11, 48); 
}

.tagItem{ 
  height: 30px; 
  min-width: 50px; 
  width: auto; 
  border-radius: 13%;
  background-color: pink; 
  color: grey; 
}

.active {
  background-color: rgb(233, 233, 233);
}
