/* Styling for Post Feed and Feed Items */
.feed {
  list-style-type: none;
  padding: 0;
  text-decoration: none;
  height: auto; 
  width: 100%; 
  overflow: scroll;
}

.linkStyle{ 
  text-decoration: none;
}

.feedItem {
  border-bottom: 1px solid rgba(0, 84, 87, 0.3) ;
  border-right: 1px solid rgba(0, 84, 87, 0.3) ;
  display: flex; 
  flex-direction: column; 
  /* flex: 1;  */
  text-decoration: none;
  min-height: 100px;
  width: 100%; 
  z-index: 10;
}

.feedItemTitle{ 
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  align-items:baseline;
  color: black; 
  font-style: normal;
  text-decoration: none;
}

.feedItemContent{ 
  margin: 10px;
  flex:1;  
  text-decoration: none;
}

.questionPreview{ 
  color: grey; 
  flex: 1; 
  margin-bottom: 10px; 
}

.titleContent{ 
  padding: 0px; 
  margin: 0px;
  text-decoration: none;
}

.previewContent{ 
  padding: 0px; 
  margin: 0px;
  text-decoration: none;
}

.tags{ 
  display: flex;
  width:auto; 
  height: 30px; 
}

.tagItem{ 
  display: flex; 
  height: 25px; 
  min-width: 80px; 
  width: auto; 
  border-radius: 8px;
  background-color: rgb(192, 255, 226); 
  color: grey; 
  justify-content: center;
  align-items: center;
  margin-right: 5px; 
  padding-bottom: 3px; 
}

.tagItem:hover{ 
  background-color: rgb(119, 194, 159);
}

.active {
  background-color: rgb(233, 233, 233);
}

/* Styling for Post View */
.postViewMain{ 
  background-color: rgb(59, 158, 153);
  height: 100vh; 
  padding: 0; 
  color: rgb(244, 255, 254); 
}

.postViewContentContainer{ 
  padding: 20px;
  padding-top: 30px;  
}

.viewTitle{ 
  padding: 0; 
  margin: 0; 
  margin-bottom: 10px; 
  font-size: calc(20px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
  font-style: bold;
}

.postContentContainer{ 
  min-height: 100px; 
  height: auto; 
  background-color:rgba(0, 84, 87, 0.541); 
  border-radius: 8px; 
  margin-top: 5px; 
  padding: 2px; 
}

.instructorReplyContainer{ 
  min-height: 100px; 
  /* height: auto;  */
  background-color:rgba(213, 254, 255, 0.699); 
  border-radius: 8px; 
  margin-top: 5px; 
  padding: 2px; 
}

.responseForm{ 
  height: 140px; 
  line-height: 20px;
  width: auto; 
}

.responseFormTitle{ 
  padding: 0; 
  margin: 0; 
  margin-bottom: 5px; 
}