@import '../../styles/variables.scss';

main#course-page {
  display: flex;
  margin: 0; 
  padding: 0; 
  width: 100vw; 
  flex: 2; 
  background-color: rgb(255, 255, 255);

  section {
    overflow-y: scroll;
    max-height: calc(100vh - #{$header-height});
    min-width: 300px;
  }

  #leftSection {
    padding: 0px;
    margin-left: 0px;   
  }
  
  #rightSection {
    padding: 0px; 
    margin: 0px; 
  }

  #row-section{ 
    width: 100%;
    padding: 0; 
    margin: 0; 
  }

  @media (max-width: 767.98px) { 
      #leftSection{ 
        max-height: 35vh; 
      }

      #rightSection{ 
        height: auto; 
      }
   }; 

}


