
// Color palette (various shades of green)
$color-a: rgb(48, 85, 74);
$color-b: rgb(177, 217, 211);
$color-c: rgb(126, 208, 184);
$color-d: rgb(55, 85, 79);
$color-e: rgb(95, 159, 140);
$color-f: rgb(108, 195, 128);

$header-height: 52px;
