
// Color palette (various shades of green)
$color-a: rgb(41, 112, 114);
$color-b: rgb(177, 217, 211);
$color-c: rgb(112, 224, 191);
$color-d: rgb(33, 68, 68);
$color-e: rgb(20, 95, 85);
$color-f: rgb(19, 94, 104);

$header-height: 52px;
