@import '../../styles/variables.scss';

form {
  display: flex;
  flex-direction: column;

  div + div {
    margin-top: 20px;
  }

  label {
    display: block;
  }

  .form-radio-group, .form-checkbox-group {
    & > div + div {
      margin-top: 5px;
    }
    label {
      display: inline;
    }
    p {
      margin: 0;
    }
  }
}

#login-form {
  width: 100%;

  button {
    margin-top: 20px;
  }
}

input[type="text"],
input[type="search"],
input[type="email"],
input[type="password"],
select {
  border: 1px solid #8e8e8e91;
  border-radius: 5px;
  height: 30px;
  padding: 5px;
  background-color: hsl(171, 18, 95);
  font-size: 16px;
  min-width: 200px;
}

button {
  border: 1px solid #8E8E8E;
  border-radius: 5px;
  height: 30px;
  padding: 5px;
  background-color: hsl(171, 18, 95);
  font-size: 16px;
  background-color: $color-f;
  color: white;
  font-weight: bold;

  & + button {
    margin-left: 10px;
  }
}

textarea {
  // width: 100%;
  min-height: 100px;
  height: 20vh;
  font-size: 16px;
  border: 1px solid #8E8E8E;
  border-radius: 5px;
  padding: 5px;
}

.error {
  color: red;
}

#post-title{ 
  background-color: #a3c6ca5e;
  height: 40px; 
}

#post-form-title{ 
  display: flex; 
  justify-content: center;
  margin:0;
  padding-bottom: 5px; 
  border-bottom: thin solid #8e8e8e63;
}

#post-title-content{ 
  margin: 0px; 
  padding: 0px; 
}

#post-title{ 
  background-color: white;
}

#post-content{ 
  background-color: #a3c6ca5e;
}

#post-title-settings{ 
  display: flex;
  flex-direction: column;
  justify-content: center;
}