@import '../../styles/variables.scss';

form {
  display: flex;
  flex-direction: column;

  div + div {
    margin-top: 20px;
  }

  label {
    display: block;
  }

  .form-radio-group, .form-checkbox-group {
    & > div + div {
      margin-top: 5px;
    }
    label {
      display: inline;
    }
    p {
      margin: 0;
    }
  }
}

#login-form {

  padding-top: 50%;
  padding-left: 5%;
  padding-right: 5%;

}

input[type="text"],
input[type="search"],
input[type="email"],
input[type="password"] {
  border: 1px solid #8E8E8E;
  border-radius: 5px;
  height: 30px;
  padding: 5px;
  background-color: hsl(171, 18, 95);
  font-size: 16px;
}

button {
  border: 1px solid #8E8E8E;
  border-radius: 5px;
  height: 30px;
  padding: 5px;
  background-color: hsl(171, 18, 95);
  font-size: 16px;
  background-color: $color-f;
  color: white;
  font-weight: bold;

  & + button {
    margin-left: 10px;
  }
}

textarea {
  width: 100%;
  min-height: 100px;
  height: 20vh;
  font-size: 16px;
  border: 1px solid #8E8E8E;
  border-radius: 5px;
  padding: 5px;
}

.error {
  color: red;
}
