@import '../../styles/variables.scss';

main {
  background-color: $color-e;
	z-index: -2;
	height: max-content;
}


.homeBase {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;

}

.leftSection {
	justify-content: center;
  	flex: 2;
	margin-top: 10px;
	color : white;
}

.rightSection {
	justify-content: center;
	background-color: white;
	flex: 1;
	margin-top: 10px;
	min-height: 100vh;
}
