.tags {
  display: flex;
  width:auto; 
  height: 30px; 

  .tagItem {
    display: flex;
    height: 25px;
    min-width: 80px; 
    border-radius: 8px;
    background-color: rgb(178, 230, 227); 
    color: rgb(0, 0, 0); 
    justify-content: center;
    align-items: center;
    padding-bottom: 3px;
  
    & + .tagItem {
      margin-left: 5px;
    }
  
    &:hover {
      background-color: rgb(123, 238, 232);
    }
  }
}
