@import '../../styles/variables.scss';

@mixin vertical-center {
    display: flex;
    align-items: center;
}

header {
    border-bottom: 2px solid #4B9DA3;
    padding: 0px; 
    margin: 0; 
    // position: fixed;
    // top: 0;
    // width: 100%;
    // background-color: white;

    nav {
        @include vertical-center();
        justify-content: space-between;
        height: 50px;
        width: 100%;
        font-family: 'Source Sans Pro';
    
        & > div {
            @include vertical-center();
        }
        
        #header-logo {
            font-size: 25px; 
            margin: 0px;
            padding: 0px; 
            color: $color-e;
        }
    
        ul {
            @include vertical-center();
            list-style: none;
            padding: 0;
            display: flex;            
    
            li + li {
                margin-left: 20px;
            }

            a {
                text-decoration: none;
                color: rgb(108, 131, 137);
                font-weight: bold;

                &.active {
                    text-decoration: underline;
                }
            }
        }

        #new-post-button {
            margin-left: 20px;
            border: 1px solid #8E8E8E;
            border-radius: 5px;
            height: 30px;
            padding: 0px;
            padding-left: 5px; 
            padding-right: 5px; 
            background-color: $color-f;
            color: white;
            font-weight: bold;
            text-align: center;
        }
    }
}
