@import '../../styles/variables.scss';

article#postView{ 
  background-color: rgb(11, 122, 117);
  padding: 30px 20px;
  color: rgb(244, 255, 254);
  min-height: 100%; 

  h2 { 
    padding: 0; 
    margin: 0; 
    margin-bottom: 10px; 
    font-size: calc(20px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
    font-style: bold;
  }

  .postViewContent{ 
    background-color:rgba(0, 62, 65, 0.541); 
    border-radius: 8px;
    padding: 10px;

    *:first-child {
      margin-top: 0;
    }
  }

  .reply-label {
    margin-bottom: 0;
  }
  
  .reply-container{ 
    min-height: 100px; 
    background-color:white; 
    border-radius: 8px; 
    margin-top: 5px; 
    padding: 10px;
    color: black;

    *:first-child {
      margin-top: 0;
    }
  }

  #edit-post-button {
    border-radius: 8px;
    height: 30px;
    background-color: rgb(159, 252, 224);
    color: $color-f;
    font-weight: bold;
    width: 100px; 
    margin-top: 30px;
    margin-bottom: 10px;
  }
}
