article#postView{ 
  background-color: rgb(59, 158, 153);
  padding: 30px 20px;
  color: rgb(244, 255, 254);

  h2 { 
    padding: 0; 
    margin: 0; 
    margin-bottom: 10px; 
    font-size: calc(20px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
    font-style: bold;
  }

  .postViewContent{ 
    background-color:rgba(0, 84, 87, 0.541); 
    border-radius: 8px;
    padding: 10px;

    *:first-child {
      margin-top: 0;
    }
  }

  .reply-label {
    margin-bottom: 0;
  }
  
  .reply-container{ 
    min-height: 100px; 
    // background-color:rgba(213, 254, 255, 0.699); 
    background-color:white; 
    border-radius: 8px; 
    margin-top: 5px; 
    padding: 10px;
    color: black;

    *:first-child {
      margin-top: 0;
    }
  }

  #edit-post-button {
    border-radius: 8px;
    height: 30px;
    padding: 5px;
    background-color: rgb(95, 211, 139);
    color: white;
    font-weight: bold;
    width: 100px; 
    align-self: flex-start;
    justify-self: flex-end;
    margin-top: 30px;
    margin-bottom: 10px;
  }
}
